<div class="row">

    <div class="row-height first-row">

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- ODA Selector -->
            <div>

                <div class="row">
                    <div class="col-xs-12">

                        <!-- ODA Selector -->
                        <div data-selector="oda"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-year-container">
                        <h2>{{ sel_heading_year }}</h2>

                        <div class="row">
                            <div class="col-xs-2">
                                <span class="icojam_calendar_6 pull-right year-select"></span>
                            </div>
                            <div class="col-xs-4">
                                <h3>{{ year_form}}</h3>

                                <div data-selector="year-from"></div>
                            </div>
                            <div class="col-xs-2">
                                <span class="fx-arrow-time"></span>
                            </div>
                            <div class="col-xs-4">
                                <h3>{{ year_to}}</h3>

                                <div data-selector="year-to"></div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Recipient Selector -->
            <div data-semantic="recipient"></div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Donor Selector -->
            <div data-selector="donor"></div>

        </div>

    </div>

</div>

<div class="row">

    <div class="row-height">

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Channel of delivery Selector -->
            <div data-selector="delivery"></div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- sector Selector -->
            <div data-selector="sector"></div>

        </div>

        <div class="col-sm-4 col-sm-height compare-selector">

            <!-- Seb-Sector Selector -->
            <div data-selector="sub-sector"></div>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-sm-12">

        <ul data-radio-list class="list-unstyled list-inline" data-selector="compare">
            <li>
                <input type="radio" id="sel-com-1" name="compare" value="recipient">
                <label for="sel-com-1">{{sel_heading_recipient}} </label>
            </li>
            <li>
                <input type="radio" id="sel-com-3" name="compare" value="donor">
                <label for="sel-com-3">{{sel_heading_donor}}</label>
            </li>
            <li>
                <input type="radio" id="sel-com-2" name="compare" value="delivery">
                <label for="sel-com-2">{{sel_heading_delivery}}</label>
            </li>
            <li>
                <input type="radio" id="sel-com-4" name="compare" value="sector">
                <label for="sel-com-4">{{sel_heading_sector}}</label>
            </li>
            <li>
                <input type="radio" id="sel-com-5" name="compare" value="sub-sector">
                <label for="sel-com-5">{{sel_heading_sub_sector}}</label>
            </li>

        </ul>
    </div>
</div>
